/****************Project 2*********/

iframe {
	width: 100%;
	height: 100%;
	padding: auto;
	margin: auto;
}

/* -----left nav info----- */
.nav_ul {list-style-image:url(/images/general/arrow.jpg); margin:5px 1em 0 1em;}
.nav_ul li {margin-top:3px}
.nav_ul2 {margin:.5em .5em .5em 1em;}


/* specific to left navigation on most pages */

.sub_panel {
	background-image:url(/images/general/fade_top.jpg);
	background-repeat:repeat-x; 
    border: 1px solid #7d7d7d;
	border-bottom-width:3px;
	border-right-width:3px;
	box-shadow: 3px 3px 10px #666;
    margin:0;
	padding:0 .5em  0 .5em;
	font-size:90%;
}
.sub_panel2 {
	background-image:url(/images/general/fade_top.jpg);
	background-repeat:repeat-x; 
    border: 1px solid #7d7d7d;
	border-bottom-width:3px;
	border-right-width:3px;
	box-shadow: 3px 3px 10px #666;
    margin:10px 0 0 0;
	padding:0 .5em  0 .5em;
	font-size:90%;
	overflow:hidden;
}
.sub_panel_accordian {
    border: 1px solid #7d7d7d;
	border-bottom-width:3px;
	border-right-width:3px;
	box-shadow: 3px 3px 10px #666;
    margin:10px 0 0 0;
	padding-left:0;
	font-size:90%;
} 

h3 a:link {text-decoration:none; color:#036;}
h3 a:visited {text-decoration:none; color:#036;}

.sub_panel h2{font-size:1.1em; margin:.5em 0 0 0; border-bottom:dotted 1px;}
.sub_panel2 h2{font-size:1.1em; margin:.5em 0 0 0; border-bottom:dotted 1px;}
.sub_panel p {margin:5px 0 0 0;}
.sub_panel2 p {margin:5px 0 0 0;}
.inside_sub_panel {position:inherit; overflow:hidden; margin:0; padding:0;}
.sub_menu {margin:1em 0 0 0; padding:0;}
.sub_menu h5 {color:#000; margin:10px 0 2px 0;}
.sub_menu a:link {color:#036;}
.sub_menu a:visited {color:#036;}
.sub_menu a:hover{color:#036;}
.sub_menu a:active {color:#036;}




/* used for some 
---color boxes --- */
div.c_box_container {border: 0px; overflow: hidden; width: 95%; padding: 5px; margin:0px auto 0px auto;}
p.bx {text-align:justify; margin-left:2em; margin-right:2em;}
#container {width: 638px; padding: 0px; margin:0px auto 0px auto;}

/* used in some colorboxes */
.AccordionPanelContent1 {background-color:#FFFFFF; width:100%; padding-bottom:1em;}
.AccordionPanelContent1 p {margin:.5em 1em 0 1em; text-align:left;}
.AccordionPanelContent1 ul {margin:.5em 1em 0 1em; text-align:left;}
.AccordionPanelContent1 ol {margin:.5em 1em 0 1em; text-align:left;}
.AccordionPanelContent1 li {margin-top:5px; margin-left:1em; text-align:left;}

/* new---all email form colorboxes */
.e_mail {
	width:90%;
	font-size:95%;
	margin:0;
	padding-top: 10px;
	text-align:left;
}
.e_mail_head {background-color:#003366; border:1px ridge #959fab; margin:auto; box-shadow: 3px 3px 10px #666; width:99.9%}
.e_mail_icon {padding:0; width:122px; border: ridge; color:#FFFFFF; text-align:center;}
.e_mail_title {text-align:center; font-size:1.5em; font-weight:bold; border: ridge; color:#FFFFFF; padding:10px; margin:0 5px 0 5px;}
.e_mail_contact {background-color:#eeeeee; padding:10px; border:ridge; margin:auto; min-height:400px;}
.spacer {line-height:5px; background-color:#003366; padding:0;}

/* table pdf in color boxes*/
table.color_box {background-color:#666; margin:10px auto 10px auto; border:ridge #666 1px;}
table.color_box td{background-color:#FFFFFF; border:ridge #666 1px;}
tr.blue td, th	{background-color:#003366; color:#FFFFFF; text-align:center; font-weight:bold;}
tr.red	 td {background-color:#cc3333; color:#FFFFFF; text-align:center; font-weight:bold;}
tr.blue, tr.red td {padding:5px}
td.pdf {background-image:url(/nmc/images/general/pdficon_12.png); background-repeat:no-repeat; background-position:0px 5px; padding:5px 0 5px 14px}
table_input {height:40px; vertical-align:top;}

/* address in color box */
.address {text-align:left; padding:10px; margin:auto;}

/* used for some
--- tabbed panel content--- */

.TabbedPanelsContent {font-size:83%;}
.TabbedPanelsContent p { margin:0px; padding:5px 0 0 0;}
.TabbedPanelsContent li {margin-bottom:3px;}
/* used on some tabbed panels for tables */
.tab_box_table {border:ridge; background-color:#FFFFFF; margin:10px auto 5px auto;}
.tab_table {margin:0px auto 0px auto;}

/* used to make
--- extra space ---
 between various items when Larry deems it necessary */
h3.space {margin-top:1.5em;}
.space li {margin-top:5px; font-size:1em;}
table.space td {padding-top:1em; font-size:.9em;}
.tall_space li {font-size:1.1em; font-stretch:condensed; margin-top:1em}

/*---sitemap---*/
.legend {font-size:1em;font-weight:bold; text-align:center; margin:1em 0 .5em 0; color:#036;}
.legend a:link, a:visited, a:hover, a:active {color:#036; text-decoration:none;}
.legend table{ width:95%; border:2px inset; background-color:#959fab; border-color:#FFF; padding:3px; margin:auto;}
.legend td { background-color:#CCCCCC; border:solid 1px #FFF;}
.siteframe {padding:0px; text-align:left;}
.site_map {text-align:left; background-color:#eeeeee;}
.site_map h3 {font-size:1.2em; color:#069; margin-top:1em; margin-bottom:.5em; padding:3px; width:16em; text-align:center; border:2px outset #959fab; background-color:#CCCCCC;}
.site_map ul {margin-top:10px; list-style:none; margin-left:0px;}
.site_map ul.ul2 {margin-top:5px; margin-bottom:0px; margin-left:10px; list-style:none;}
.site_map ul.ul3 {margin-top:5px; margin-bottom:0px; margin-left:20px; list-style:none;}
.site_map li {margin-top:5px;}
.site_map a:link, a:visited, a:hover, a:active {text-decoration:underline;}


/*for 
--- prices pgs ---
  icon links*/
.table_cell {border:ridge 4px #CCCCCC; text-align:center; margin:0; padding:0; height:124px; width:124px; background-color:transparent
}
.table_cell a:link{ background-color:#c1d2e0; text-align:center; 
}
.table_cell a:visited{background-color:#c1d2e0;  text-align:center; 
}
.table_cell a:hover{background-color:#a1b2c0;  text-align:center;  
}
.table_cell a:active{background-color:#c1d2e0;  text-align:center; 
}
.table_cell_2 {border:ridge 3px #CCCCCC; text-align:center; margin:0; padding:10px; width:90px;
}
/*for
--- table data in important info box---
 on most pages*/
.ii {width:110px}

/* for
---records pgs---*/
.records {height:360px; width:627px; margin-top:10px; padding:5px; font-size:90%;}

/*---survey form--*/
.survey {background-color:#FFFFFF; font-size:90%; margin:auto; width:94%; border:ridge;}
.check {float:left; width:50px; text-align:center; background-color:transparent; margin-left:3px;}
.grey {background-color:#CEE7FF}

.grey label {padding:3px 5px 3px 5px}


.middle_button {
	float:left;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight:bold;
	font-size:1em;
	text-align:center;
	width:205px;
	height:58px;
	background-image:url(/nmc/images/general/long_button2.png);
	background-repeat:no-repeat;
	background-position:0px;
}
.middle_button a {display:block; color:#FFFFFF; text-decoration:none; text-align:center; padding-top:20px;}
.middle_button a:link {color:#FFFFFF; text-decoration:none;}
.middle_button a:visited {color:#FFFFFF; text-decoration:none;}
.middle_button a:hover {color:#6784a1; text-decoration:none;}
.middle_button a:active {color:#FFFFFF; text-decoration:none;} 
.centered_buttons {width: 410px; margin: 0 auto;}